{{!-- Left Column: Profile Section --}}
<div class="profile-section">
	{{!-- Profile Image --}}
	<div class="profile-image-container">
		<img class="profile-img" src="{{actor.img}}" data-edit="img"/>
	</div>

	{{!-- Hero Name --}}
	<div class="name-field">
		<input class="input--hero-name" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'MASKS-SHEETS.Placeholders.HeroName'}}"/>
	</div>

	{{!-- Real Name --}}
	{{#if system.attributes.realName}}
	<div class="name-field realname-field">
		<input type="text" class="input--real-name" name="system.attributes.realName.value" value="{{system.attributes.realName.value}}" placeholder="{{system.attributes.realName.label}}"/>
	</div>
	{{/if}}

	{{!-- Playbook Selector --}}
	<div class="playbook-selector">
		<select class="input--playbook charplaybook">
			{{selectOptions playbooks selected=system.playbook.uuid valueAttr="uuid" labelAttr="name" blank=(localize "PBTA.Playbook") sort=true}}
		</select>
	</div>

	{{!-- View Playbook Button --}}
	<div class="playbook-view">
		<button type="button" class="view-playbook-btn {{#if system.playbook.uuid}}active{{/if}}"
			data-playbook="{{system.playbook.uuid}}"
			data-tooltip="{{localize 'PBTA.ViewPlaybook'}}"
			data-tooltip-direction="UP"
			{{#unless system.playbook.uuid}}disabled{{/unless}}>
			<i class="fas fa-book-open"></i>
			<span>{{localize "MASKS-SHEETS.ViewPlaybook"}}</span>
		</button>
	</div>
</div>
