{{!-- Stats Sidebar: Labels, Potential, Forward, Ongoing, Playbook attributes --}}
<aside class="stats-sidebar">
	{{!-- Labels Visualization --}}
	<div class="labels-section">
		<h3 class="sidebar-title">{{localize "MASKS-SHEETS.CharacterSheets.stats.labels"}}</h3>

		{{!-- Pentagon graph (clickable to open shift modal) --}}
		{{#if labelsGraph}}
		<div class="labels-graph-clickable" data-action="shift-labels" data-tooltip="{{labelsGraph.tooltip}}">
			{{{labelsGraph.svg}}}
		</div>
		{{/if}}

		{{!-- Individual label rows - 2-row layout --}}
		<div class="labels-list">
			{{#each labelRows as |label key|}}
			<div class="label-row label--{{key}} {{#if label.isLocked}}locked{{/if}}" data-label="{{key}}">
				<div class="label-row-top">
					<i class="label-icon {{label.icon}}"></i>
					<span class="label-name">{{label.displayName}}</span>
					<button type="button" class="label-lock" data-action="toggle-lock" data-label="{{key}}"
						data-tooltip="{{#if label.isLocked}}{{localize 'MASKS-SHEETS.Labels.Unlock'}}{{else}}{{localize 'MASKS-SHEETS.Labels.Lock'}}{{/if}}"
						data-tooltip-direction="LEFT">
						<i class="fas {{#if label.isLocked}}fa-lock{{else}}fa-lock-open{{/if}}"></i>
					</button>
				</div>
				<div class="label-row-bottom">
					<button type="button" class="label-btn label-decrement" data-action="decrement" data-label="{{key}}" {{#if label.atMin}}disabled{{/if}}>
						<i class="fas fa-minus"></i>
					</button>
					<input type="number" class="label-value" name="{{#if label.attrPath}}{{label.attrPath}}{{else}}system.stats.{{key}}.value{{/if}}"
						value="{{label.value}}" min="-2" max="3" />
					<button type="button" class="label-btn label-increment" data-action="increment" data-label="{{key}}" {{#if label.atMax}}disabled{{/if}}>
						<i class="fas fa-plus"></i>
					</button>
				</div>
			</div>
			{{/each}}
		</div>
	</div>

	{{!-- Advantages Section (Forward + Ongoing) - Two-row layout like Labels --}}
	<div class="advantages-section">
		<h3 class="sidebar-title">{{localize "MASKS-SHEETS.Advantages"}}</h3>

		{{!-- Forward --}}
		<div class="modifier-section modifier--forward">
			<div class="modifier-row">
				<div class="modifier-row-top">
					<i class="modifier-icon fas fa-arrow-right"></i>
					<span class="modifier-label">{{localize "PBTA.Forward"}}</span>
				</div>
				<div class="modifier-controls">
					<button type="button" class="modifier-btn" data-action="decrease" data-attr="resources.forward.value">
						<i class="fas fa-minus"></i>
					</button>
					<input type="number" class="modifier-value" name="system.resources.forward.value"
						value="{{system.resources.forward.value}}" data-dtype="Number" />
					<button type="button" class="modifier-btn" data-action="increase" data-attr="resources.forward.value">
						<i class="fas fa-plus"></i>
					</button>
				</div>
			</div>
		</div>

		{{!-- Ongoing --}}
		<div class="modifier-section modifier--ongoing">
			<div class="modifier-row">
				<div class="modifier-row-top">
					<i class="modifier-icon fas fa-sync-alt"></i>
					<span class="modifier-label">{{localize "PBTA.Ongoing"}}</span>
				</div>
				<div class="modifier-controls">
					<button type="button" class="modifier-btn" data-action="decrease" data-attr="resources.ongoing.value">
						<i class="fas fa-minus"></i>
					</button>
					<input type="number" class="modifier-value" name="system.resources.ongoing.value"
						value="{{system.resources.ongoing.value}}" data-dtype="Number" />
					<button type="button" class="modifier-btn" data-action="increase" data-attr="resources.ongoing.value">
						<i class="fas fa-plus"></i>
					</button>
				</div>
			</div>
		</div>
	</div>

	{{!-- Playbook-specific Sidebar Attributes (Clock and Number types) --}}
	{{#if playbookSidebarAttrs}}
	<div class="playbook-attrs-section">
		<h3 class="sidebar-title">{{localize "MASKS-SHEETS.PlaybookFeatures"}}</h3>
		{{#each playbookSidebarAttrs as |attr key|}}
		<div class="playbook-attr playbook-attr--{{attr.type}}" data-attr-key="{{key}}">
			<label class="attr-label">{{attr.label}}</label>
			{{#if (eq attr.type "Clock")}}
			{{!-- Clock type uses same pip style as Potential --}}
			<div class="clock-pips">
				{{#each attr.pips as |pip|}}
				<span class="clock-pip {{#if pip.filled}}filled{{/if}}"
					data-pip="{{pip.value}}" data-action="set-clock" data-attr="{{../key}}"></span>
				{{/each}}
			</div>
			<span class="clock-count">{{attr.value}} / {{attr.max}}</span>
			{{else if (eq attr.type "Number")}}
			{{!-- Number type uses stepper controls --}}
			<div class="number-controls">
				<button type="button" class="attr-btn" data-action="decrease" data-attr="attributes.{{key}}.value">
					<i class="fas fa-minus"></i>
				</button>
				<input type="number" name="system.attributes.{{key}}.value" value="{{attr.value}}" data-dtype="Number" />
				<button type="button" class="attr-btn" data-action="increase" data-attr="attributes.{{key}}.value">
					<i class="fas fa-plus"></i>
				</button>
			</div>
			{{/if}}
		</div>
		{{/each}}
	</div>
	{{/if}}
</aside>
