{{!-- Powers Tab: Moves List (reordered - playbook moves first) --}}
<div class="tab powers {{#if isNPC}}active{{/if}}" data-group="primary" data-tab="{{#if isNPC}}moves{{else}}powers{{/if}}">
	<section class="sheet-tab moves-tab">
		{{#if isCharacter}}
		{{!-- Warnings for unlinked tokens --}}
		<section class="sheet-notifications">
			{{#if isToken}}
			<div class="cell__title warning small-text">{{localize "PBTA.Warnings.UnlinkedToken.Moves"}}</div>
			{{/if}}
		</section>

		{{!-- Roll Resources (if enabled) --}}
		<section class="sheet-resources moves-resources">
			{{#if (not sheetSettings.hideRollFormula)}}
			<div class="resource-item roll-formula">
				<label class="resource-label">{{localize "PBTA.RollFormulaOverride"}}</label>
				<div class="resource-input">
					<input type="text" name="system.resources.rollFormula" value="{{system.resources.rollFormula}}" placeholder="ex: 3d6kh2"/>
				</div>
			</div>
			{{/if}}

			{{#if (not sheetSettings.hideHold)}}
			<div class="resource-item hold-resource">
				<label class="resource-label">{{localize "PBTA.Hold"}}</label>
				<div class="resource-controls">
					<button type="button" class="resource-btn resource-decrease" data-action="decrease" data-attr="resources.hold.value">-</button>
					<input type="number" name="system.resources.hold.value" value="{{system.resources.hold.value}}" data-dtype="Number"/>
					<button type="button" class="resource-btn resource-increase" data-action="increase" data-attr="resources.hold.value">+</button>
				</div>
			</div>
			{{/if}}

			{{#if (not sheetSettings.hideRollMode)}}
			<div class="resource-item roll-mode">
				<label class="resource-label">{{localize "PBTA.RollMode"}}</label>
				{{radioBoxes 'flags.pbta.rollMode' config.rollModes checked=flags.pbta.rollMode localize=true}}
			</div>
			{{/if}}
		</section>
		{{/if}}

		{{!-- Moves Groups (reordered: playbook first, then basic, adult, rules) --}}
		{{#each movesOrdered as |moveGroup moveKey|}}
		<div class="cell cell--moves cell--group cell--{{moveKey}}" data-key="{{moveKey}}">
			<h2 class="cell__title moves-group-title">
				<label class="item-group-label">
					{{#if (eq moveKey "PBTA_OTHER")}}
					{{localize moveKey}}
					{{else}}
					{{getLabel ../moveTypes moveKey}}
					{{/if}}
					<span class="item-details-toggle"><i class="fas fa-chevron-up"></i></span>
				</label>
				<div class="moves-controls">
					<button type="button" class="item-control item-create"
						{{#if ../isCharacter}}
						data-type="move"
						{{else}}
						data-type="npcMove"
						{{/if}}
						data-move-type="{{moveKey}}">
						<i class="fas fa-plus"></i>
					</button>
				</div>
			</h2>
			<ol class="items-list moves-list">
				{{#each moveGroup as |item id|}}
				<li class="item move-item flexrow" data-item-id="{{item._id}}" draggable="true">
					{{> "pbta.actor-moves" item=item statSettings=../../statSettings sheetSettings=../../sheetSettings}}
				</li>
				{{/each}}
			</ol>
		</div>
		{{/each}}

	</section>
</div>
