{{!-- Right Sidebar: Labels, Resources, Conditions --}}
<div class="sidebar-content">

	{{!-- Labels Graph (Pentagon) --}}
	{{#if labelsGraph}}
	<div class="labels-graph-section">
		<div class="labels-graph-container" data-action="shift-labels" data-tooltip="{{labelsGraph.tooltip}}">
			{{{labelsGraph.svg}}}
		</div>
	</div>
	{{/if}}

	{{!-- Labels with Lock Buttons --}}
	<div class="labels-section">
		{{#each labelStats as |stat key|}}
		<div class="label-row" data-stat="{{key}}">
			<span class="label-abbrev">{{stat.abbrev}}</span>
			<button type="button" class="label-lock {{#if stat.locked}}locked{{/if}}"
				data-action="toggle-lock"
				data-stat="{{key}}"
				data-tooltip="{{#if stat.locked}}{{localize 'MASKS-SHEETS.UnlockLabel'}}{{else}}{{localize 'MASKS-SHEETS.LockLabel'}}{{/if}}">
				<i class="fas {{#if stat.locked}}fa-lock{{else}}fa-lock-open{{/if}}"></i>
			</button>
			<input type="number" class="label-value" name="system.stats.{{key}}.value" value="{{stat.value}}" min="-3" max="4" {{#if stat.locked}}disabled{{/if}}/>
			<button type="button" class="label-shift label-shift-down" data-action="shift" data-stat="{{key}}" data-direction="down" {{#if stat.locked}}disabled{{/if}}>
				<i class="fas fa-minus"></i>
			</button>
			<button type="button" class="label-shift label-shift-up" data-action="shift" data-stat="{{key}}" data-direction="up" {{#if stat.locked}}disabled{{/if}}>
				<i class="fas fa-plus"></i>
			</button>
		</div>
		{{/each}}
	</div>

	{{!-- Advancement Counter --}}
	<div class="advancement-section">
		<div class="advancement-row">
			<span class="advancement-label">{{localize "MASKS-SHEETS.Advancement"}}</span>
			<input type="number" class="advancement-value" name="system.advancements" value="{{system.advancements}}" min="0"/>
			<button type="button" class="advancement-btn {{#if canAdvance}}active{{/if}}"
				data-action="advancement"
				data-tooltip="{{localize 'PBTA.Advance'}}"
				data-tooltip-direction="LEFT">
				<i class="fas fa-arrow-up"></i>
			</button>
		</div>
	</div>

	{{!-- Potential/XP Track --}}
	{{#if system.attributes.xp}}
	<div class="potential-section">
		<label class="potential-label">{{system.attributes.xp.label}}</label>
		<div class="potential-track">
			{{#times system.attributes.xp.max}}
			<input type="radio" class="potential-pip attr-xp"
				data-name="system.attributes.xp"
				data-step="{{@index}}"
				{{checked (gt system.attributes.xp.value @index)}}>
			{{/times}}
		</div>
	</div>
	{{/if}}

	{{!-- Forward Resource --}}
	{{#if (not sheetSettings.hideForward)}}
	<div class="resource-section resource-forward">
		<label class="resource-label">{{localize "PBTA.Forward"}}</label>
		<div class="resource-controls">
			<button type="button" class="resource-btn resource-decrease" data-action="decrease" data-attr="resources.forward.value">
				<i class="fas fa-minus"></i>
			</button>
			<input type="number" class="resource-value" name="system.resources.forward.value" value="{{system.resources.forward.value}}" data-dtype="Number"/>
			<button type="button" class="resource-btn resource-increase" data-action="increase" data-attr="resources.forward.value">
				<i class="fas fa-plus"></i>
			</button>
		</div>
	</div>
	{{/if}}

	{{!-- Ongoing Resource --}}
	{{#if (not sheetSettings.hideOngoing)}}
	<div class="resource-section resource-ongoing">
		<label class="resource-label">{{localize "PBTA.Ongoing"}}</label>
		<div class="resource-controls">
			<button type="button" class="resource-btn resource-decrease" data-action="decrease" data-attr="resources.ongoing.value">
				<i class="fas fa-minus"></i>
			</button>
			<input type="number" class="resource-value" name="system.resources.ongoing.value" value="{{system.resources.ongoing.value}}" data-dtype="Number"/>
			<button type="button" class="resource-btn resource-increase" data-action="increase" data-attr="resources.ongoing.value">
				<i class="fas fa-plus"></i>
			</button>
		</div>
	</div>
	{{/if}}

	{{!-- Conditions as Toggleable Tags --}}
	{{#if system.attributes.conditions}}
	<div class="conditions-section">
		<label class="conditions-label">{{system.attributes.conditions.label}}</label>
		<div class="conditions-tags">
			{{#each system.attributes.conditions.options as |option optionKey|}}
			<label class="condition-tag {{#if option.value}}active{{/if}}" data-condition="{{optionKey}}" data-tooltip="{{option.tooltip}}">
				<input type="checkbox" name="system.attributes.conditions.options.{{optionKey}}.value" {{checked option.value}} hidden/>
				<span>{{conditionName option.label}}</span>
			</label>
			{{/each}}
		</div>
	</div>
	{{/if}}

</div>
