{{!-- Playbook Tab: Playbook Features, Moment of Truth, Advancements --}}
<div class="tab playbook" data-group="primary" data-tab="playbook">
	<section class="sheet-tab playbook-tab">
		{{!-- Playbook-Specific Features (all types) --}}
		{{#if playbookAttributes}}
		<div class="playbook-section playbook-section--features">
			<label class="section-title">{{localize "MASKS-SHEETS.PlaybookFeatures"}}</label>
			<div class="playbook-features-list">
				{{#each playbookAttributes as |attr key|}}
				<div class="playbook-feature playbook-feature--{{attr.type}}" data-attr-key="{{attr.key}}">
					<label class="feature-label">{{attr.label}}</label>
					{{#if attr.description}}
					<p class="feature-description">{{attr.description}}</p>
					{{/if}}
					{{#if (eq attr.type "Clock")}}
					{{!-- Clock type (e.g., Doom Track) - Use PbtA's built-in Clock handling --}}
					<div class="cell__clock flexrow">
						{{#times attr.max}}
						<input type="checkbox" class="attr-clock" data-name="system.attributes.{{../attr.key}}" data-step="{{@index}}" {{checked (gt ../attr.value @index)}}>
						{{/times}}
					</div>
					<span class="clock-count">{{attr.value}} / {{attr.max}}</span>
					{{else if (eq attr.type "Number")}}
					{{!-- Number type (e.g., Nova's Burn, Soldier's Fight) --}}
					<div class="number-tracker">
						<button type="button" class="tracker-btn" data-action="decrease" data-attr="attributes.{{attr.key}}.value">
							<i class="fas fa-minus"></i>
						</button>
						<input type="number" class="tracker-value" name="system.attributes.{{attr.key}}.value" value="{{attr.value}}"
							{{#if attr.max}}max="{{attr.max}}"{{/if}} />
						<button type="button" class="tracker-btn" data-action="increase" data-attr="attributes.{{attr.key}}.value">
							<i class="fas fa-plus"></i>
						</button>
					</div>
					{{else if (eq attr.type "LongText")}}
					{{!-- LongText type (e.g., Bull's Heart, Protege's Mentor) --}}
					{{editor attr.value target=attr.attrName button=true owner=../owner editable=../editable}}
					{{else if (eq attr.type "ListMany")}}
					{{!-- ListMany type (e.g., Brain's Shame, Doomed's Sanctuary) - Use PbtA's attr-list class --}}
					{{#with (lookup ../system.attributes attr.key) as |sysAttr|}}
					<ul class="cell__checkboxes flexcol">
						{{#each sysAttr.options as |option optionKey|}}
						<label class="flexrow" {{#if option.tooltip}}data-tooltip="{{option.tooltip}}" data-tooltip-direction="UP"{{/if}}>
							{{!-- Handle nested values (e.g., The Scion, The Reformed) --}}
							{{#if option.values}}
								{{#each option.values as |suboption suboptionKey|}}
								<input type="checkbox" class="attr-list" name="system.attributes.{{../../../attr.key}}.options.{{../optionKey}}.values.{{suboptionKey}}.value" {{checked suboption.value}} />
								{{/each}}
							{{else}}
								<input type="checkbox" class="attr-list" name="system.attributes.{{../../attr.key}}.options.{{optionKey}}.value" {{checked option.value}} />
							{{/if}}
							{{#if (eq option.label "[Text]")}}
								<input type="text" class="input input-title" name="system.attributes.{{../../attr.key}}.options.{{optionKey}}.userLabel" value="{{option.userLabel}}">
							{{else}}
								{{option.label}}
							{{/if}}
						</label>
						{{/each}}
					</ul>
					{{/with}}
					{{else if (eq attr.type "Text")}}
					{{!-- Text type --}}
					<input type="text" name="{{attr.attrName}}" value="{{attr.value}}" />
					{{/if}}
				</div>
				{{/each}}
			</div>
		</div>
		{{/if}}

		{{!-- Moment of Truth --}}
		<div class="playbook-section playbook-section--moment">
			<div class="section-header">
				<label class="section-title">{{system.attributes.momentOfTruth.label}}</label>
				<label class="moment-unlock-toggle">
					<input type="checkbox" name="system.attributes.momentUnlocked.value" {{checked system.attributes.momentUnlocked.value}} />
					<span>{{system.attributes.momentUnlocked.checkboxLabel}}</span>
				</label>
			</div>
			{{#if system.attributes.momentOfTruth.description}}
			<p class="section-description">{{system.attributes.momentOfTruth.description}}</p>
			{{/if}}
			{{editor system.attributes.momentOfTruth.value target="system.attributes.momentOfTruth.value" button=true owner=owner editable=editable}}
		</div>

		{{!-- Advancements --}}
		<div class="playbook-section playbook-section--advancements">
			<label class="section-title">{{system.attributes.advancements.label}}</label>
			{{#if system.attributes.advancements.description}}
			<p class="section-description">{{system.attributes.advancements.description}}</p>
			{{/if}}
			<ul class="cell__checkboxes flexcol">
				{{#each system.attributes.advancements.options as |option optionKey|}}
				<label class="flexrow" {{#if option.tooltip}}data-tooltip="{{option.tooltip}}" data-tooltip-direction="UP"{{/if}}>
					{{#if option.values}}
						{{#each option.values as |suboption suboptionKey|}}
						<input type="checkbox" class="attr-list" name="system.attributes.advancements.options.{{optionKey}}.values.{{suboptionKey}}.value" {{checked suboption.value}} />
						{{/each}}
					{{else}}
						<input type="checkbox" class="attr-list" name="system.attributes.advancements.options.{{optionKey}}.value" {{checked option.value}} />
					{{/if}}
					{{#if (eq option.label "[Text]")}}
					<input type="text" class="input input-title" name="system.attributes.advancements.options.{{optionKey}}.userLabel" value="{{option.userLabel}}" placeholder="Custom advancement...">
					{{else}}
					{{option.label}}
					{{/if}}
				</label>
				{{/each}}
			</ul>
		</div>

		{{!-- Later Advances --}}
		<div class="playbook-section playbook-section--later-advances">
			<label class="section-title">{{system.attributes.laterAdvances.label}}</label>
			{{#if system.attributes.laterAdvances.description}}
			<p class="section-description">{{system.attributes.laterAdvances.description}}</p>
			{{/if}}
			<ul class="cell__checkboxes flexcol">
				{{#each system.attributes.laterAdvances.options as |option optionKey|}}
				<label class="flexrow" {{#if option.tooltip}}data-tooltip="{{option.tooltip}}" data-tooltip-direction="UP"{{/if}}>
					{{#if option.values}}
						{{#each option.values as |suboption suboptionKey|}}
						<input type="checkbox" class="attr-list" name="system.attributes.laterAdvances.options.{{optionKey}}.values.{{suboptionKey}}.value" {{checked suboption.value}} />
						{{/each}}
					{{else}}
						<input type="checkbox" class="attr-list" name="system.attributes.laterAdvances.options.{{optionKey}}.value" {{checked option.value}} />
					{{/if}}
					{{#if (eq option.label "[Text]")}}
					<input type="text" class="input input-title" name="system.attributes.laterAdvances.options.{{optionKey}}.userLabel" value="{{option.userLabel}}" placeholder="Custom advancement...">
					{{else}}
					{{option.label}}
					{{/if}}
				</label>
				{{/each}}
			</ul>
		</div>
	</section>
</div>
